body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

/* class .header section styles */
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 160px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav ul a, .text p {
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0;
}

.nav ul li {
    max-width: 300px;
    flex: auto;
}

.nav ul li a:hover {
    color: rgb(209, 197, 166);
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
}

.logo a:hover {
    color: rgb(209, 197, 166);
}

.text h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.text p {
    font-size: 18px;
}

.text button {
    border-radius: 5px;
    border: none;
    padding: 10px 5px;
    background-color: #3882F6;
    transition-duration: 1s;
    border: 1px solid #F9FAF8;
}

.text button a {
    color: #F9FAF8;
    transition-duration: .4s;
}

.text button:hover a {
    color: #E5E7EB;
}

.text button:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    gap: 16px;
}

.hero img {
    width: 500px;
}

/* Styles for the class .reading section */

.reading {
    display: flex;
    flex-direction: column;
    padding: 16px 160px;
    justify-content: center;
}

.reading .bookTitle {
    align-self: center;
}

.reading .books {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 0;
    gap: 16px;
    flex-wrap: wrap;
}

.reading .books img {
    height: auto;
    width: 150px;
    transform: rotate(180deg);
    flex: auto;
    border-radius: 10px;
}

.reading .books div {
    max-width: 150px;
}

/* styles for class .quote section */

.quote {
    padding: 80px 160px;
    background-color: #E5E7EB;
    text-align: center;
}

.quote blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote p {
    text-align: end;
}

/* class .action section styles */
.action {
    padding: 80px 160px;
}

.action .action.text {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 40px 80px;
}

.action.text div h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.action.text div {
    flex: auto;
}

.action.text div:nth-child(1) {
    max-width: 75%;
}

.action.text div:nth-child(2) {
    flex: 1;
    max-width: min-content;
}

.action.text div:nth-child(2) button {
    background-color:#3882F6;
    color: #F9FAF8;
    transition-duration: .4s;
    text-align: center;
}

.action.text div:nth-child(2) button:hover {
    background-color: darkblue;
    color: #E5E7EB;
}